body {
  width: 100%;
}

/*Zerando a página e definindo fonte*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Posicionando os itens do menu, definindo o tamanho e a cor deu fundo*/
.menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  justify-content: space-between;
  background-image: linear-gradient(to right, #4b4b4b, rgb(255, 197, 0));
}

/*Definindo tamanho da logo*/
.logo img {
  max-width: 200px;
  max-height: 100px;
}


/*Posicionando os icones do menu*/
.icones {
  display: flex;
  align-items: center;
}


/*Definindo tamanho dos icones e tirando eles da borda*/
.icones img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/*Definindo cor, tamanho, borda e tamanho da barra de pesquisa*/
.search input {
  border-radius: 40px;
  background-color: #6e6e6e;
  padding-left: 20px;
  width: 500px;
  height: 40px;
  border: 0;
  margin: 0;
}

/*Cursor da barra de pesquisa*/
.search input:hover {
  cursor: pointer;
}

/*Definindo barra de pesquisa com a imagem da lupa para esconder o input*/
.search {
  width: 550px;
  display: flex;
  align-items: center;
  background-color: #6e6e6e;
  border-radius: 40px;
}

/*Definindo a cor do que for digitado no input*/
.search input:focus {
  color: #faed27;
  font-size: 17px;
}

/*Estilizando placeholder da barra de pesquisa*/
.search input::placeholder {
  color: #faed27;
  font-size: 18px;
}

/*Posicionando imagem do calendário e definindo tamanho da div dele*/
.Calendario {
  width: 390px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Tamanho da imagem do calendário*/
.Calendario img {
  width: 300px;
  height: 300px;
}

/*Dando tamanho e cor para a lateral esquerda da página (calendário e etiquetas de importância)*/
.taskArea {
  max-width: 410px;
  height: 100%;
  background-color: #494545;
  border: 1px solid #353333;
}

/*Colocando os cards de tarefas ao lado do calendário e etiquetas*/
.calendario-left {
  display: flex;
}

/*Tirar a borda ao clicar no input da barra de pesquisa*/
input#pesquisar {
  outline: none;
}

/*Dando tamanho e cor para os botões */
.colorButtonRed,
.colorButtonGreen,
.colorButtonBlue,
.colorButtonPurple,
.colorButtonYellow,
.colorButtonOrange {
  color: white;
  border: 2px solid #faed27;
  width: 150px;
  height: 50px;
  margin: 10px;
  border-radius: 15px;
  background-color: #494545;
}

/*Opacidade dos botões de etiqueta quando passar o mouse em cima*/
.colorButtonRed:hover,
.colorButtonGreen:hover,
.colorButtonBlue:hover,
.colorButtonPurple:hover,
.colorButtonYellow:hover,
.colorButtonOrange:hover {
  opacity: 0.8;
}

/*Cor de fundo dos botões quando passar o mouse em cima*/
.colorButtonRed:hover {
  background-color: red;
}

.colorButtonGreen:hover {
  background-color: green;
}

.colorButtonBlue:hover {
  background-color: blue;
}

.colorButtonPurple:hover {
  background-color: purple;
}

.colorButtonYellow:hover {
  background-color: rgba(255, 255, 0, 0.781);
}

.colorButtonOrange:hover {
  background-color: orange;
}

/*Cor padrão do botão "+" (adicionar nova tarefa)*/
.btn-novatarefa {
  background-color: #faed27;
  border: 0;
  color: #000000;
}

/*Cor do botão "+" quando passar o mouse em cima*/
.btn-novatarefa:hover {
  background-color: #000000;
  color: #faed27;
  border: 0;
}

/*alinhando inputs do modal de nova tarefa*/
.nome-evento,
.data-evento {
  display: flex;
}

/*Tirando borda quando clicar no input no modal de nova tarefa*/
.nome-evento input,
.data-evento input {
  margin: 0 20px;
  border: 1px solid #000000;
  box-shadow: 0 0 0 0;
  outline: 0;
}

/*Tirando borda quando clicar na área de "descrição" do modal de nova tarefa*/
textarea#exampleForm\.ControlTextarea1 {
  border: 1px solid #000000;
  box-shadow: 0 0 0 0;
  outline: 0;
}

/*Cor de fundo do modal de nova tarefa*/
.modal-content {
  background-color: #919191;
}

/*Borda na parte de cima do modal de nova tarefa*/
.modal-header {
  border-bottom: 1px solid #000000;
}

/*Tirando borda inferior do modal*/
.modal-footer {
  border: 0;
}

/*Alinhando botões de etiquetas*/
.button {
  text-align: center;
}

/*Estilizando botão no modal para salvar tarefa*/
button.btn.btn-primary.save-task {
  background-color: #000000;
  border: 0;
  border-radius: 15px;
  color: #faed27;
}

/*Borda e cor do texto do botao "fechar"*/
button.btn.btn-secondary {
  border: 0;
  border-radius: 15px;
  color: #faed27;
}

/*Hover dos botões de fechar e salvar no modal*/
button.btn.btn-primary.save-task:hover,
button.btn.btn-secondary:hover {
  transition: 0.4s;
  padding: 10px;
}

/*Margem da área de descrição no modal*/
.descricao {
  margin: 0 20px;
}

/*Cor do botão "+" quando clicar nele*/
.btn-primary {
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #faed27;
}

/*Posicionando a opção "criar nova etiqueta*/
.edit-classificacao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

/*Definindo tamanho a imagem da opção "criar nova etiqueta*/
.edit-classificacao img {
  width: 16px;
  height: 16px;
}

/*Distanciando texto da imagem e dando cor na opção "criar nova etiqueta*/
.edit-classificacao p {
  color: white;
  padding-left: 10px;
}



/*Zerando margem dos "h5" da página*/
h5 {
  margin: 0;
}

/*Cores da navbar*/
nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {
  background-color: #494545 !important;
}

.dropdown-menu.show {
  background-color: #535050;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #696969;
}

/*Fixando navbar*/
.nav-fixed {
  position: fixed 1;
  top: 0;
  left: 0;

  width: 100%;
}

.nav-fixed a {
  color: #c1c1c1;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-fixed a:hover {
  color: #c1c1c1;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:  #c1c1c1;
}

/*--------------------------------------------Estilizando a Section---------------------------------*/
.planos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 750px;
}

/*Estilizando o botão para alterar os dados de cadastro do usuário*/
#dropdown-basic {
  background-color: #FDC400;
  border-color: #FDC400;
  padding: 0;
}

.alterar_dados{
  color:#c1c1c1;
  --bs-dropdown-link-hover-bg:var(--bs-btn-active-bg)
}

.alterar_dados:hover{
  color: #faed27;
}

p.alterar_dados{
  padding-left: 15px;
  color: #faed27;
}