body {
  width: 100%;
}

/*Zerando a página e definindo fonte*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Posicionando imagem do calendário e definindo tamanho da div dele*/
.Calendario {
  width: 390px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Tamanho da imagem do calendário*/
.Calendario img {
  width: 300px;
  height: 300px;
}

/*Dando tamanho e cor para a lateral esquerda da página (calendário e etiquetas de importância)*/
.taskArea {
  max-width: 410px;
  height: 100%;
  background-color: #494545;
  border: 1px solid #353333;
}

/*Colocando os cards de tarefas ao lado do calendário e etiquetas*/
.calendario-left {
  display: flex;
}

/*Dando tamanho e cor para os botões */
.colorButtonRed,
.colorButtonGreen,
.colorButtonBlue,
.colorButtonPurple,
.colorButtonYellow,
.colorButtonOrange {
  color: white;
  border: 2px solid #faed27;
  width: 150px;
  height: 50px;
  margin: 10px;
  border-radius: 15px;
  background-color: #494545;
}

/*Opacidade dos botões de etiqueta quando passar o mouse em cima*/
.colorButtonRed:hover,
.colorButtonGreen:hover,
.colorButtonBlue:hover,
.colorButtonPurple:hover,
.colorButtonYellow:hover,
.colorButtonOrange:hover {
  opacity: 0.8;
}

/*Cor de fundo dos botões quando passar o mouse em cima*/
.colorButtonRed:hover {
  background-color: red;
}

.colorButtonGreen:hover {
  background-color: green;
}

.colorButtonBlue:hover {
  background-color: blue;
}

.colorButtonPurple:hover {
  background-color: purple;
}

.colorButtonYellow:hover {
  background-color: rgba(255, 255, 0, 0.781);
}

.colorButtonOrange:hover {
  background-color: orange;
}

.Criartask_titulo{
  color: #faed27;
}

/*Cor do botão "+" quando clicar nele*/
.btn-primary {
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #faed27;
}

/*Posicionando a opção "criar nova etiqueta*/
.edit-classificacao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

/*Definindo tamanho a imagem da opção "criar nova etiqueta*/
.edit-classificacao img {
  width: 16px;
  height: 16px;
}

/*Distanciando texto da imagem e dando cor na opção "criar nova etiqueta*/
.edit-classificacao p {
  color: white;
  padding-left: 10px;
}

/*Zerando margem dos "h5" da página*/
h5 {
  margin: 0;
}

/*Fixando navbar*/
.nav-fixed {
  position: fixed 1;
  top: 0;
  left: 0;

  width: 100%;
}

.nav-fixed a:hover {
  color: #c1c1c1;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #c1c1c1;
}

/*--------------------------------------------Estilizando a Section---------------------------------*/
.planos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 750px;
}