/*mexendo nos itens da NavBar*/
.nav-utensilios {
    display: flex;
    justify-content: space-between;
}

/*Posicionamento do botão "+" na tela principal*/
.abrir-task {
    display: flex;
    align-items: center;
}

/*Texto "Nova tarefa" ao lado do botão "+"*/
.abrir-task p {
    color: #c1c1c1;
    width: 50px;
    display: flex;
    margin: 0;
    margin-left: 10px;
}

.drop-options:hover,
.drop-options:focus {
    color: #c1c1c1 !important;
}

/*Modal do nome da lista*/
.salvarlistanome {
    border: none;
    background-color: #faed27;

}

.salvarlistanome:hover {
    background-color: #faed27;
    opacity: 0.8;
}

.salvarlistanome:active {
    opacity: 0.5;
}

.fecharlista {
    border: none;
    background-color: #696969;
     margin: 0;

}

.fecharlista:hover {
    margin: 0;
    transform: none;
    opacity: 0.8;
}

.fecharlista:active {
    opacity: 0.5;
}

.inputlista{
    border: none;
}