/*mexendo nos itens da NavBar*/
.nav-utensilios {
    display: flex;
    justify-content: space-between;
}

/*Posicionamento do botão "+" na tela principal*/
.abrir-task {
    display: flex;
    align-items: center;
}

/*Texto "Nova tarefa" ao lado do botão "+"*/
.abrir-task p {
    color: #c1c1c1;
    width: 50px;
    display: flex;
    margin: 0;
    margin-left: 10px;
}

/* Força a cor do dropdown a ser sempre a mesma*/
.drop-options,
.drop-options a,
.drop-options a:active,
.drop-options a:focus,
.drop-options a:hover {
    color: #c1c1c1 !important;
    text-decoration: none; /* Remove o sublinhado ao focar ou passar o mouse */
} 

/* Garante que o dropdown não altere a cor ao perder o foco */
.drop-options.show > .dropdown-toggle {
    color: #c1c1c1 !important;
}

/*Modal do nome da lista*/
.salvarlistanome {
    border: none;
    color: black;
    background-color: #faed27;

}

.salvarlistanome:hover {
    background-color: #faed27;
    opacity: 0.8;
}

.salvarlistanome:active {
    opacity: 0.5;
}

.fecharlista {
    border: none;
    background-color: #696969;
     margin: 0;

}

.fecharlista:hover {
    opacity: 0.8;
    background-color: #696969;
}

.fecharlista:active {
    opacity: 0.5;
}

.inputlista{
    border: none;
    border-color: initial; /* Garante que a cor da borda seja a padrão */
    box-shadow: none; /* Remove a sombra do campo */
    background-color: #fff; /* Define a cor de fundo padrão */
}
.inputlista:focus {
    border-color: initial; /* Garante que a cor da borda não mude quando o campo está focado */
    box-shadow: none; /* Remove a sombra do campo quando está focado */
}

.nav-utensilios .navbar-brand {
    color: #c1c1c1; /* Define a cor do texto para preto ou qualquer cor desejada */
    transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
    font-size: 17px;
}
