.botao .submit_btn {
    display: flex;
    justify-content: right;
    font-size: 50px;
    font-size: 30px;
    border-radius: 20px;
    padding: 15px 80px;
    background-color: #111111;

}

.submit_btn span {
    color: #ffffff;
}

.botao a {
    text-decoration: none;
}

.botao .submit_btn span {
    font-size: 20px;
    cursor: pointer;
}

#cad-txt {
    width: 100%;
    color: #111111;
}

.cadastro2 {
    display: flex;
    font-size: 30px;
    padding: 10px;
    width: 50%;
}

.cadastro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: 60vh;
}