.conhecer-grid h2 {
    display: flex;
    justify-content: center;
    color: #c1c1c1;
    border-bottom:1px solid #faed27 ;
}

#conhecer {
    border: 1px solid #c1c1c1;
    background-color: black;
    height: 745px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conhecer-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    border: 4px solid #faed27;
    border-radius: 10px;
    width: 250px;
    height: 80%;
}

.conhecer-grid {
    display: flex;
    justify-content: space-between;
}

.img-conhecer {
    width: 100%;
    height: 100%;
}


#conhecer h1 {
    display: flex;
    justify-content: center;
    color: #faed27;
    font-size: 55px;
}

.explicação {
    color: #c1c1c1;
    padding: 5px;
    margin: 10px;
}