#conhecer {
    height: 60vh;
    width: 70vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-accordion {
    width: 1000px;
}

.item-accordion button{
    background-color: #25221E !important;
    color: #ffffff;
}

.item-accordion button::after {
    color: #ffffff !important;
}