.planos_empresarial {
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #000000c7;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.planos{
    background-color: #282727;
    height: 745px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.planos h1{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 48px;
}

.tabela-preco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
    height: 100%;
}

.card-preco-div {
    flex: 1;
    max-width: 360px;
    background-color: #282727;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #e6e5e5;
    transition: .3s linear;
    border-radius: 10px;
    border: 2px solid #faed26;
}

.card-preco-div:hover{
    background-color: #faed26;
    color:  #282727;
    background-image: linear-gradient(to right, #faed26, rgb(255, 197, 0));
}

.card-preco-div:hover .card-preco-header{
    background-image: linear-gradient(to right, #faed26, rgb(255, 197, 0));
}

.card-preco-div:hover .preco{
    background-color: #faed26;
    color:  #282727;
    background-image: linear-gradient(to right, #faed26, rgb(255, 197, 0));
}
.card-preco-div:hover .queroplano{
    background-color: linear-gradient(to right, #faed26, rgb(255, 197, 0));
    color:  #282727;
    border-color: #282727 ;
}

.card-preco-div:hover .queroplano:hover{
    background-color: #282727 ;
    color: #faed26;
}


.card-preco-header {
    background-color: #faed26;
    display: inline-block;
    color: #000;
    padding: 12px 30px;
    border-radius: 0 0px 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s line;
}

.preco {

    font-size: 70px;
    color: #faed26;
    margin: 40px 0;
    transition: .2s linear;

}

.preco sup,
.preco span {
    font-size: 22px;
    font-weight: 700;
}

.card-preco:hover,
.card-preco:hover .preco {
    color: #5e5b5b;
}

.card-preco {
    font-size: 16px;
    padding: 5px 0;
}

.queroplano {
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid #faed26;
    color: #faed26;
    padding: 15px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
}


.check-in {
    height: 15px;
    width: 18px;
}


.check-in,
li {
    display: inline-block;
}

.preco-ul {
    text-align: left;
    margin: 0 17px;
}

.queroplano {
    text-decoration: none;
}

.selecionar-planos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: relative;
}

.opcoes-planos {
    display: flex;
}