.pg-1 {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../../../public/images/fundo-menu4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 612px;
    padding-left: 200px;
}

.text-intro {
    margin-right: 20px;
    width: 45%;
    width: 45%;
}



.txt-1 {
    font-size: 61px;
    color: #fbe049;
}