.rodape-background {
    display: flex;
    justify-content: center;
    background-color: #111111;
    width: 100%;
}

.container-rodape {
    left: 0;
    bottom: 0;
    color: #faed27;
    background-color: #111111;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 70vw;
}


/*Inicio imagens*/
.container-rodape .redes-sociais {
    width: 80px;
    height: 40px;
    padding: 0px 20px;
}

/*Fim imagens*/

/*Inicio borda Para você*/
.rodape-1 {
    border: 0px solid #696969;
    padding: 10px 10px;
}

/*Fim borda Para você*/

.rodape-1 a {
    color: #faed27;
    text-decoration: none;
}

/*Inicio borda Redes sociais*/
.rodape-2 {
    border: 0px solid #696969;
    padding: 5px 5px;
}

/*Fim borda Redes sociais*/

/*Inicio borda Footer*/
.container-rodape {
    border: 0px solid #696969;
    padding: 30px 30px;
}

/*Fim borda Footer*/

/*Inicio borda frase*/
.rodape-5 {
    border: 0px solid #696969;
    padding: 30px 30px;
}

/*Fim borda frase*/