@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif !important;
}

#perfil-gerenc img {
    width: 30px;
    height: 30px;
}

.gerenciarpart-principal {
    background-color: #3c3c3c;
    height: 634px;
    display: flex;
    justify-content: center;
}

#title-gerenciar h1 {
    color: #faed27;
    border-bottom: 1px solid #faed27;
    width: 1000px;
    font-family: 'Kanit', sans-serif;
    padding-bottom: 7px;
}

/*Posicionando titulo*/
#title-gerenciar {
    display: flex;
    justify-content: center;
}

#cards-gerenciar-part {
    margin: 10px 0;
    width: 800px;
    border-radius: 20px;
    background-color: #8c8c8c;
}

.cards-gerenciar {
    display: flex;
    justify-content: space-between;
    height: 571px;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

/*Estilização dos cards*/

#perfil-gerenc {
    display: flex;
    padding-bottom: 15px;
}

#perfil-gerenc .name-gerenc {
    padding-left: 5px;
    margin: 0;
}

.caracter-gerenciar p {
    padding-left: 5px;
    color: #faed27;
}

/*Estilização dos botões*/

#btn-gerenc-part {
    display: flex;
    width: 40%;
    justify-content: space-around;
    padding-top: 15px;
}

/*Estilizando a section de fundo*/
#gerenciar-part {
    background-color: #535050;
    width: 100%;
    height: 100%;
}